*
{
	margin: 0;
	padding: 0;
	background-color: #424242;
	background-size: cover;
}
.img-banner1{
	display: none;
}
.img-banner2{
	display: none;
}
.img-banner3{
	display: none;
}
.img-me1{
	display: flex;
	height: 220px;
	width:100%;

}
.img-me2{
	display: flex;
	height: 447px;
	width:100%;
	
}

@media screen and (min-width: 768px){
.img-me1{
	padding-left:140px;
	width:500px;

}
.img-me2{
	padding-left:140px;
	width:500px;
	height: 640px;
	
}
.img-banner1{
	padding: 20px 0px 20px;
	padding-left:40px;
	display:inline;
	height: 5%;
	width: 30%;
	float
	padding-bottom: 30 px
	float: left;
	
	}
	.img-banner2{
	padding: 20px 0px 20px;
	display:inline;
	height: 5%;
	width: 30%;
	padding-bottom: 30 px
		
	}
	.img-banner3{
	padding: 20px 0px 20px;
	display:inline;
	height: 5%;
	width: 30%;
	padding-bottom: 30 px
	}

}
@media screen and (min-width: 1000px){
	.img-me1{
	padding: 0px 0px 0px 680px;
	}
	.img-me2{
	padding: 0px 0px 0px 680px;
	
	
	}
	
	.img-banner1{
		padding: 0px 0px 0px 580px;
		width: 200px;;
		height: 100px;
		
	}
	.img-banner2{
		padding: 0px 0px 0px 30px;
		width: 200px;;
		height: 100px;
	}
	.img-banner3{
		padding: 0px 0px 0px 30px;
		width: 200px;;
		height: 100px;
	} 