@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body{
  font-family: 'Nunito', sans-serif;
}

.a{color: #DDA0DD}
.b{color: #EE82EE}
.c{color: #DA70D6}
.d{color: #9932CC}
.e{color: #8A2BE2}
.f{color:  #9400D3}


.container{
  margin-top: 200px;
  
}

.buttonspace{
margin-right: 60px;

}
.buttonsize {
font-size: 25px;
}
.text-center {
  text-align: center;
}

.rainbow{
  color:#333;
  border:2px solid;
  text-decoration:none;
  display:inline-block;
  font-weight:600;
  border-radius: 4px;  
  cursor: pointer;
  padding: 8px 16px;
  
}


.Main-rainbow:hover{
   background-image:     linear-gradient(
      to right, 
      #DDA0DD,
      #DDA0DD 16.65%,
      #EE82EE 16.65%,
      #EE82EE 33.3%,
      #DA70D6 33.3%,
      #DA70D6 49.95%,
      #9932CC 49.95%,
      #9932CC 66.6%,
      #8A2BE2 66.6%,
      #8A2BE2 83.25%,
      #9400D3 83.25%,
      #9400D3 100%,
      #DDA0DD 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

